<div class="card-product-comment-form">
  <%=current_user.username.capitalize%>, tell us your thoughts!
  <br>
  <br>
  <%= simple_form_for [@race, @comment] do |f| %>
    <% year = Time.now.year %>
    <%= f.input :date, collection: [("I didn't race it/finish it"), year, (year - 1), (year - 2), (year - 3), (year - 4), (year - 5), ("< #{year - 5}")],  include_blank: false , label: 'Did you finish this race? If so, in which year?' %>
    <%= f.input :body, label: "What is your general opinion about the race?" %>
    <%= f.input :positive, label: 'What did you like about it?' %>
    <%= f.input :negative, label: "What could be done better next time?" %>
    <%= f.input :rating, collection: [1, 2, 3, 4, 5],  include_blank: false, label: "On a scale from 1 to 5 how much would you recommend this race?" %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
  <%# ajaxify the submit button %>
</div>
