<div class="container" data-controller="loader">
  <h2>Tell us more about this race</h2>
  <%= simple_form_for @race do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :format, as: :check_boxes, collection: %i[M L XL] %>
    <%= f.input :swim, collection: ['Ocean/Sea', 'Lake']  %>
    <%= f.input :bike, collection: ['Flat','Rolling', 'Hilly']  %>
    <%= f.input :run, collection: ['Flat','Rolling', 'Hilly']  %>
    <%= f.input :date, as: :date %>
    <%= f.input :organizer %>
    <%= f.input :link, placeholder: 'www.race.org' %>
    <%= f.input :photo, as: :file %>
    <button data-action="click->loader#displayLoader" class="btn btn-primary">
      <%= f.submit "Create race", class:"btn btn-primary" %>
    </button>
  <% end %>
  <%= render "loader" %>
</div>
