<div class="container" data-controller="loader">
  <h2 class="mt-4">Tell us more about this race</h2>
  <%= simple_form_for @race do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :format, as: :check_boxes, collection: ["M","L","XL"] %>
    <%= f.input :swim, collection: ['Ocean/Sea', 'Lake']  %>
    <%= f.input :bike, collection: ['Flat','Rolling', 'Hilly']  %>
    <%= f.input :run, collection: ['Flat','Rolling', 'Hilly']  %>
    <%= f.input :date, as: :date %>
    <%= f.input :organizer %>
    <%#= f.input :address %>
    <%= f.input :address,
                :label_html => { :class => 'simple-form-label' },
                input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                %>
    <%= f.input :link, placeholder: 'www.race.org' %>
    <%= f.input :photo, as: :file %>
    <button data-action="click->loader#displayLoader" class="btn btn-primary">
      <%= f.submit "Create race", class:"btn btn-primary" %>
    </button>
  <% end %>
  <%= render "loader" %>
</div>
