<div class="container">
  <%# RACE PROFILE %>
  <div class="card-product-show mb-3">
    <%= cl_image_tag @race.photo.key, class:"race-image", alt:"race-image" %>
    <div class="card-product-show-infos">
      <h1> <%= @race.title.capitalize %> </h1>
      <p>Format: <%= @race.format.drop(1).join(' - ') %></p>
      <p><%= @race.description.capitalize %></p>
      <p> Race admin: <%= @race.user.username.capitalize %> </p>
    </div>
    <div class="card-product-show-infos">
      <p>Course profile </p>
      <p> <i class="fa-solid fa-person-swimming"></i> &nbsp <%= @race.swim %> </p>
      <p> <i class="fa-solid fa-person-biking"></i> &nbsp <%= @race.bike %> </p>
      <p> <i class="fa-solid fa-person-running"></i> &nbsp <%= @race.run %> </p>
    </div>
    <div class="card-product-show-infos">
      <p> 📅 Date: <%= @race.date.strftime("%d/%m/%Y") %></p>
      <p> Organizer: <%= @race.organizer.capitalize %></p>
      <a href="http://<%= @race.link %>" target="_blank" class="btn btn-primary" > Race Website</a>
      <%# EDIT RACE %>
      <% if policy(@race).edit? %>
        <p> <%= button_to "Edit", edit_race_path(@race),  method: :get, class:"btn btn-primary" %> </p>
      <% end %>
      <p><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Hi! Look at this triathlon race coming up !" data-hashtags="NextTriathlon" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </p>
    </div>
    <%# MAP %>
    <div class="race-show-map" style="width: 30%; height: 100%;"
        data-controller="mapshow"
        data-mapshow-marker-value="<%= @marker.to_json %>"
        data-mapshow-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <%# COMMENTS %>
  <div>
    <h2 class="text-center" >What did the athletes think about this race?</h2>
    <%# RATING %>
    <% if @race.comments.count > 0 %>
      <h2>Average rating: <%= number_with_precision(@race.comments.average(:rating), precision: 1) %> /5 </h2>
    <% else %>
      <p>This race hasn't been rated yet</p>
    <% end %>
    <% @race.comments.order(:created_at).each do |comment| %>
      <div class="card-product-comment mb-3">
        <div class="card-product-comment-infos">
          <h2> Commenter: </h2>
          <p> <%= comment.user.username.capitalize %></p>
          <h2> Raced in: </h2>
          <p><%= comment.date %> </p>
          <h2>  My grade </h2>
          <p> <%= comment.rating %> / 5 </p>
        </div>
        <div class="card-product-comment-body">
          <h2>About this race </h2>
          <p><%= comment.body %> </p>
        </div>
        <div class="card-product-comment-infos">
          <p>  ✔  <%= comment.positive %></p>
          <p>  ✘ <%= comment.negative %></p>
          <% if policy(comment).edit? %>
            <p> <%= button_to "Edit", edit_race_comment_path(@race, comment),  method: :get, class:"btn btn-primary" %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
    <div>
      <% if user_signed_in? %>
        <%= render "comments/form", race: @race, comment: @comment %>
      <% else %>
        <div class="text-center">
          <p>Sign in to write a comment!</p>
          <%= button_to "Sign in", new_user_session_path, class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
