<div class="container">
  <%= form_tag(@race_path, method: "get", id: "search-form", class: "form-inline mb-3") do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: "Search by title or format", class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  <% @races.order(:date).each do |race| %>
    <div class="card-product mb-3">
      <%= cl_image_tag race.photo.key %>
      <div class="card-product-infos">
        <h2><%= link_to race.title.capitalize, race %></h2>
        <p>        (<%= race.format.gsub(/\[|\]|"/, '').split(',').map(&:strip).join(', ') %> - <%= race.date.strftime("%d/%m") %>)
        </p>
        <p> 🏊 <%= race.swim %> 🚴 <%= race.bike %> 🏃 <%= race.run %></p>
      </div>
    </div>
  <% end %>
</div>
